@using AltNg.HtmlExtensions
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.NgAppName = "alt.altcviewapp";
    ViewBag.Title = "NgAlt - alt-cview";
}
<section id="main" data-alt-view></section>
@section AfterMainScripts{
    @Html.MinimizedScript("~/alt/modules/alt.croute.js", DateTime.Now.ToFileTimeUtc().ToString())
    @Html.MinimizedScript("~/alt/alt.altcviewapp.js", DateTime.Now.ToFileTimeUtc().ToString())
}